<form asp-controller="Search" asp-action="SearchResult">
    <div style="margin: 12px 6px 6px 6px">
        <ul class="nav navbar-nav">
            <li>
                <input type="text" name="SearchString">
            </li>
            <li>
                <input type="submit" value="Search"/>
            </li>
        </ul>
    </div>
</form>