@model List<ApplicationUser>

@{
    ViewData["Title"] = "ShowAllSubscribtions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul style="list-style:none">
    @foreach (var item in Model)
    {
        <li>@item.UserName</li>
    }
</ul>

